<%# 下線部広告部分%>
<div class='ad-footer-cotents'>
  <p class='ad-footer-explain'>
    さあ、あなたも、scholarに投稿しよう！
  </P>
  <h2 class='ad-footer-title'>
    今すぐ簡単ログイン！
  </h2>
</div>
<%# 下線部広告部分%>

<div class='footer'>
  <div class='footer-contents'>
    <div class='scholar-details'>
      <h2 class='footer-content-head'>scholarガイド</h2>
      <ul>
        <li><%= link_to 'scholarについて', "#", class: "footer-link" %></li>
        <li><%= link_to 'ランキング', "#", class: "footer-link" %></li>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
 <p>© scholar</p>
</div>