<div class='footer'>
  <div class='footer-contents'>
    <div class='scholar-details'>
      <h2 class='footer-content-head'>scholarガイド</h2>
      <ul>
        <li><%= link_to 'scholarについて', "#", class: "footer-link" %></li>
        <li><%= link_to 'ランキング', "#", class: "footer-link" %></li>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
 <p>scholar</p>
</div>