  <%# 注意書き%>
    <div class="cation">
      <P class="sentence">
      投稿における注意事項
      </p>
      <P class="sentence">
      1.他者を誹謗中傷・批判する内容を投稿しないこと
      </p>
      <P class="sentence">
      2.違法行為やアダルトな内容、その他社会通念上不適切な内容の投稿をしないこと
      </p>
      <P class="sentence">
      3.他者の著作権・著作権人格権・商標権・肖像権等の権利を侵害する行為をしないこと
      </p>
      <P class="sentence">
      以上3点を守り、当サービスをお楽しみください
      </p>
    </div>
  <%# /注意書き%>