  <%# scalarの使い方%>
    <div class="scholar-explain">
      <P class="contents">
      schalarの使い方
      </p>
      <P class="contents">
      1.ログインせずに使用する  投稿を見ること、カテゴリーを検索することができます
      </p>
      <P class="contents">
      2.ログインして使用する  上記の機能に加え、投稿すること、コメントを送ること、いいねをすることができます。
      </p>
    </div>
  <%# /scholarの使い方%>
 