 

 
/*header*/
.scholar-main{
  background-image: url('/images/JSK542_boroboronoyousyo_TP_V4.jpg');
  background-size: cover;
  font-family: fantasy;
  text-align: center;
  color: #fff;
  font-size: 80px;
  padding-top: 120px;
  padding-bottom: 110px;
}

.top-page-header{
  background-color: #272727;
  padding-top: 0.1px;
  font-family: fantasy;
  color: #fff;
  
}




.lists-left{
  width: 95%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-family: fantasy;
  color: #272727;
 }
 
 .user-nickname{
 font-size: 25px;
 margin:10px;
 text-decoration: none;
 font-family: fantasy;
 color: #fff;
}
 
 .logout{
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin:10px;
 }
 
 .log-in{
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin:10px;
 }

 .sign-up{
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin:10px;
 }
 /*header*/

 /*body*/
 body{
  background-image: url('/images/FBPAKU3311.jpg');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
 }
/*body*/

 /*index*/
 .title-contents{
  display: flex;
  justify-content: center;
 }

 .service-title{
  font-family: fantasy;
  font-size: 25px;
 }

 .post-red-btn{
 text-decoration: none;
  color:black;
  text-align: center;
  margin-left: 48%;
 }

 .post-btn-text{
  display : inline-block;
   color: #272727;
   background-color:red;
   border-radius: 100px;
   padding: 15px;
   border: 1px solid #808080;
   font-family: fantasy;
 }

 .title{
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color:#272727;
 }

 .scholar-lists{
  display: flex;
  justify-content: space-around;
  list-style: none;
 }

 .scholar-title{
  display: flex;
  justify-content: center;
 }

 .scholar-img {
  width: 30vh;
  height: 33vh;
  border: 1px solid #808080;
  background-color:#272727;
  padding: 7px;
}

.scholar-read{
  display: flex;
  justify-content: center;
}

 .pagination {
  display: flex;
  justify-content:space-evenly;
  text-decoration: none;
  font-family: fantasy;
  color:black;
 
}

/*index*/

/*second_footer*/


.contents{
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: #272727;
}

/*second_footer*/

/*_footer*/
.cation{
  font-family: fantasy;
}

.sentence{
  display: flex;
  justify-content: center;
  color:#272727;
}

/*_footer*/





/*新規登録.ログイン*/

.form-wrap{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.input-default{
  margin-top: 10px;
  margin-bottom: 10px;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
  width: 250px;
  height: 30px;
  border-color: #272727;
}

.register-btn{
  margin-top: 30px;
  width: 250px;
  height: 40px;
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す*/
  border-color: #272727;
  font-family: fantasy;
}

.form-header-text{
  font-family: fantasy;
  font-size: 60px;
}


 /*show*/
 .name{
  overflow-wrap: break-word;
 }
 /*show*/

 /*category*/
 .lists{
  display: flex; 
	justify-content: space-around; 
  list-style: none;
 }

 .h2{
  display: flex;
  justify-content: center;
 }
 /*category*/

 /*show*/
 .scholar-img-content{
  display: flex;
  justify-content: center;
 }
 .scholar-box-img{
  border: 10px solid #272727;
 }
 .name{
  display: flex;
  justify-content: center;
 }

 .destory-btn{
  display: flex;
  justify-content: space-around;
 }

 .scholar-blue-btn{
  
  background-color: red;
  font-size: 24px;
  font-weight: bold;
  color: #272727;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
  text-decoration: none;
  border: solid 2px #272727;
 }

 

 .scholar-destroy{
  
  background-color: red;;
  font-size: 24px;
  font-weight: bold;
  color: #272727;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
  text-decoration: none;
  border: solid 2px #272727;
 }

 .option{
  display: flex;
  justify-content: center;
 }

 .comment-box {
  margin: 1px 0;
  text-align: center;
  border: solid 2px #272727;
  border-right:none;
  border-left:none;
  border-top:none;
}

 .comment-text {
  width: 50%;
  height: 30px;
  padding-top: 10px;
  border: solid 2px #272727;
  resize: none;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; 
}

.comment-btn {
  line-height: 48px;
  background-color:red;
  border: 1px solid #272727;
  color: black;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

/*new*/

.scholars-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scholars-main{
  background-color:#fff ;
  border: 1px solid #272727;
  border-radius: 100px;
  padding:20px 20px;
}
.new-scholars{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.imag-upload{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.scholars-detail{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.scholars-title{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.sell-btn-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scholars-text{
  width: 40vw;
  height: 20vh;
}
.scholars-title{
  width: 40vw;
  height: 10vh;
}
.weight-bold-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-btn{
  border-radius: 100px;
  text-decoration: none;
  border: solid 2px #272727;
  background-color: red;;
  font-size: 24px;
  color: #272727;
  margin-top: 10px;
}
.post-btn{
  border-radius: 100px;
  text-decoration: none;
  border: solid 2px #272727;
  background-color: red;;
  font-size: 24px;
  color: #272727;
  margin-top: 10px;
}
/*new*/